@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: none;
  font-family: "Spline Sans", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overscroll-behavior: contain;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
}

.interface {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0.5em;
  font-weight: 600;
}

.interface > h1 {
  font-size: 3em;
  font-weight: 700;
}

.version {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  font-size: 2em;
}
